<h1>optioinTEST2</h1>

<select id="testSel">
	<option value="0">선택하세요.</option>
</select>
 
<button type="button" id="addOpt">과일 옵션 추가</button>
<button type="button" id="selPeach">복숭아 선택</button>
<button type="button" id="delOpt">과일 옵션 삭제</button>
<button type="button" id="delLastOpt">마지막 과일 옵션 삭제</button>

<script>
  var targetSel = document.getElementById('testSel')
      
  document.getElementById('addOpt').addEventListener('click', function() {
    if(targetSel.children.length === 1) {
      fruitList.forEach(function(list, i) {
        var opt = document.createElement('option')
        opt.setAttribute('value', list.oKey)
        opt.innerText = list.oVal
        targetSel.appendChild(opt)
      })
    }
  })

  document.getElementById('selPeach').addEventListener('click', function() {
    for(var i=0; i<targetSel.children.length; i++) {
      if(targetSel.children[i].value === 'peach') {
        targetSel.children[i].setAttribute('selected', '')
      }
    }
  })
	
  document.getElementById('delOpt').addEventListener('click', function() {
    for(var i=0; i<targetSel.children.length; i++) {
      if(targetSel.children.length > 1 && targetSel.firstChild) {
        targetSel.removeChild(targetSel.lastChild)
        i--
      }
    }
  })

    
  document.getElementById('delLastOpt').addEventListener('click', function() {
    if(targetSel.children.length > 1 && targetSel.firstChild) {
      targetSel.removeChild(targetSel.lastChild)
    }
  })
</script>